.acp-overlay {	
	visibility:hidden;
	transition: visibility 0s linear 0.4s,opacity 0.4s linear;
	position: fixed;
    background: #DDD;
    opacity: 0;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 9999;
}

.acp-overlay-show {
	visibility:visible;
	opacity: 0.3;
	filter: alpha(opacity=40);
	transition-delay: 0s;
}

.acp-model {
	position: fixed;
	margin: 0;
	z-index: 9999;
	overflow: hidden;
	background-color: #F7F7F7;
	border-top:none;
	min-width: 300px;
	max-width: 700px;
	border: 1px solid #acacac;
	border-radius: 2px;	
	visibility:hidden;
	transition: visibility 0s linear 0.2s,opacity 0.2s linear;
	opacity: 0;
}

.acp-model-show {
	visibility:visible;
	opacity: 1;
	filter: alpha(opacity=100);
	transition-delay: 0s;
}

.acp-model .acp-panel {	
	padding: 1em 2em 0 1em;
}
.acp-model .acp-panel i {
	float: left;
	display: block;
	height: 48px;
	width: 60px;
	text-align:center;
	line-height:48px;
}
.acp-model .acp-panel div {
	margin-left: 70px;
}
.acp-model .acp-panel div b {
	display:block;
}
.acp-model .acp-panel div p {
	margin: 5px 0;
}
.acp-model .acp-button-group {
	clear:both;
	text-align: center;
}
.acp-model .acp-button-group button {
	margin-left: 10px;
	min-width: 70px;
}
.acp-model .acp-close {
	position: absolute;
	height: 16px;
	width: 16px;
	right: .5em;
	top: .5em;
	cursor: pointer;
	opacity: 0.2;
}
.acp-model .acp-close:hover {
	opacity: 0.5;
}
